# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
venv/
ENV/
env/

# Django
*.sqlite3
*.log
staticfiles/
media/

# Docker
*.pid
docker-compose.override.yml

# VS Code
.vscode/

# System
Thumbs.db

# Other
*.swp
*.swo

# Node
node_modules/

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Git
.git/
